@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Open Sans", Verdana, sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 83.7%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/
.upperheader {
  padding: 11px 0;
  background-color: #EBEBEB;
}

.upperheader .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.marker {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #555555;
}

.marker span {
  text-indent: -9999px;
}

.marker>span::before {
  content: "\f041";
  padding-right: 10px;
  float: right;
  color: #555555;
  font-family: "fontAwesome";
  font-size: 21px;
  text-indent: 0;
  transition: all ease-in .3s;
}

address {
  color: #8D8C89;
  font-size: 12.5px;
  font-weight: bold;
}

address span {
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  font-size: 12.5px;
}

.social-icons li {
  margin-right: 28px;
}

.social-icons a {
  text-indent: -9999px;
}

.social-icons a::before {
  content: "\f09a";
  float: right;
  color: #2C2C2C;
  font-family: "fontAwesome";
  font-size: 16px;
  text-indent: 0;
  transition: all ease-in .3s;
}

.social-icons a:hover::before {
  color: #F8C12C;
}

.social-icons li:nth-child(2) a::before {
  content: "\f099";
}

.social-icons li:nth-child(3) a::before {
  content: "\f16d";
}

.social-icons li:nth-child(4) a::before {
  content: "\f09b";
}

.social-icons li:nth-child(4) {
  margin-right: 0;
}

.middleheader .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.middleheader h1 {
  padding: 38px 0;
  flex-basis: 17%;
}

.get,
.free,
.know {
  padding: 12px 22px;
  color: #fff;
  background-color: #FFB600;
  border: solid 1px transparent;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  transition: all ease-in.3s;
}

.get:hover,
.free:hover,
.know:hover {
  background-color: #23282D;
  border: solid 1px transparent;
  color: #FFB600;
  transition: all ease-in .3s;
}

.contact-details {
  flex-basis: 63%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact {
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
}

.contact li {
  padding: 0 24px;
  border-right: 1px solid #E5E5E5;
}

.contact li:last-child {
  border-right: none;
}

.contact a,
.contact span {
  color: #000;
  font-size: 13px;
  font-weight: bold;
}

.contact h2 {
  padding-bottom: 10px;
  color: #88929A;
  font-size: 13.5px;
  font-weight: bold;
}

.bottom-header {
  padding-top: 26px;
  background-color: #23282C;
}

.sticky {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
}

.sticky+.banner {
  padding-top: 50px;
}

.bottom-header .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav {
  flex-basis: 67%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding-bottom: 26px;
  position: relative;
}

nav li a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

nav li a:hover,
nav li a:hover:after {
  color: #FFB600;
  transition: all ease-in .3s;
}

nav li:hover .dropdown {
  display: block;
}

.dropdown {
  min-width: 126px;
  display: none;
  position: absolute;
  z-index: 10;
  top: 45px;
  left: 30px;
  background-color: #fff;
  font-size: 10px;
  text-align: center;
}

.dropdown li {
  padding: 10px;
  border-bottom: 1px solid #E5E5E5;
}

.dropdown li a {
  color: #23282D;
}

.home {
  color: #FFB600;
}

.active {
  position: relative;
}

.active::after {
  content: "\f107";
  float: right;
  display: block;
  position: absolute;
  top: 1px;
  right: -10px;
  color: #fff;
  font-family: "fontAwesome";
  font-size: 14px;
  font-weight: bold;
  text-indent: 0;
  transition: all ease-in .3s;
}

.active::after:hover .dropdown {
  display: block;
}

.bottom-header .active::after {
  right: -12px;
}

.home::after {
  color: #FFB600;
  transition: all ease-in .3s;
}

.search {
  margin-bottom: 25px;
  text-indent: -9999px;
}

.search::after {
  content: "\f002";
  float: right;
  color: #848185;
  font-family: "fontAwesome";
  font-size: 15px;
  text-indent: 0;
  transition: all ease-in .3s;
}

/* Homepage2 header styling  */
.homepageheader {
  padding: 30px 0;
}

.homepageheader .wrapper,
.nav-quote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.homepageheader h1 {
  flex-basis: 14.5%;
}

.homepageheader nav li a,
.homepageheader .active::after {
  color: #160D1A;
  font-size: 13px;
}

.homepageheader nav li a:hover,
.homepageheader .active:hover:after {
  color: #FFB600;
}

.homepageheader nav {
  flex-basis: 81%;
}

.nav-quote {
  flex-basis: 74%;
}

.homepageheader .free {
  padding: 12px 22px;
  color: #23282D;
  font-size: 13px;
  font-weight: bold;
}

.free:hover {
  color: #FFB600;
}

/* Homepage2 header styling ends  */
/*=================================
  Header styling ends here
=================================*/
/*--------------Banner styling starts----------*/
.banner {
  position: relative;
}

.understand {
  width: 80.8%;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
  top: 90%;
  left: 8.1%;
  background-color: #FFB600;
  text-transform: uppercase;
}

.understand span,
.weneeds span {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.request {
  padding: 13px 23px;
  color: #fff;
  background-color: #23282D;
  border: solid 1px transparent;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  transition: all ease-in .3s;
}

.request:hover {
  background-color: #fff;
  border: solid 1px #23282D;
  color: #23282D;
  transition: all ease-in .3s;
}

/* mainpage banner slider starts */
.slide {
  position: relative;
}

.slide .content-class {
  position: absolute;
  top: 33%;
  left: 9%;
}

.slick-slider {
  position: relative;
}

.slide-test .slick-dots {
  position: absolute;
  z-index: 40;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.slider-width {
  overflow: hidden;
}

.slide span {
  padding: 10px 15px;
  background-color: #FCB801;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.slide h2 {
  padding: 30px 0 20px;
  color: #F9F8F4;
  font-size: 20px;
  text-transform: uppercase;
}

.slide h3 {
  padding-bottom: 30px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.our {
  padding: 10px 20px;
  border: solid 1px #F8C12C;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: all ease-in .3s;
}

.our:hover {
  background-color: #23282D;
  border: solid 1px transparent;
  color: #FFB600;
  transition: all ease-in .3s;
}

/* mainpage banner slider endds */

/* needs banner */
.needs {
  width: 71%;
  padding: 20px 20px 35px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #DEDEE0;
  font-size: 15px;
  line-height: 1.6;
}

.needs-slider {
  position: absolute;
  top: 27.5%;
  left: 8.2%;
}

.needs-slider .needs {
  display: none;
}

.needs-slider .needs:first-child {
  display: block;
}

.needshome .prevsign,
.needshome .nextsign {
  display: block;
  position: absolute;
  z-index: 10;
  top: 41.6%;
  text-indent: -9999px;
}

.needshome .prevsign {
  left: 1.5%;
}

.needshome .nextsign {
  right: 1.5%;
}

.needshome .prevsign::before,
.needshome .nextsign::before {
  width: 61px;
  height: 48px;
  padding-top: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: "fontAwesome";
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-indent: 0;
  transition: all ease-in .3s;
}

.needshome .prevsign::before {
  content: "\f104";
  float: left;
}

.needshome .nextsign::before {
  content: "\f105";
  float: right;
}

.needs h2 {
  padding-bottom: 8px;
  color: #BFBFBF;
  font-size: 18px;
  text-transform: uppercase;
}

.needs h3 {
  padding-bottom: 8px;
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
}

.needs p {
  padding-bottom: 32px;
}

.know {
  padding: 12px 22px;
  text-transform: uppercase;
}

.weneeds {
  padding: 30px 20px;
  background-color: #282D33;
  text-transform: uppercase;
}

.weneeds .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.weneeds .request {
  color: #FFFAA6;
  background-color: #FFB501;
}

.weneeds .request:hover {
  border: 1px solid #FFB501;
  background-color: #fff;
  color: #FFB501;
  transition: all ease-in .3s;
}

/* needs banner ends */

/* wedo banner starts */
.banner-slider .banner-imgs {
  display: none;
  position: relative;
}

.banner-imgs img {
  height: 535px;
}

.banner-slider .banner-imgs:first-child {
  display: block;
}

.prevarrow,
.nextarrow {
  display: block;
  position: absolute;
  z-index: 10;
  top: 46.5%;
  text-indent: -9999px;
}

.prevarrow {
  left: 1.3%;
}

.nextarrow {
  right: 1.3%;
}

.prevarrow::before,
.nextarrow::before {
  width: 35px;
  height: 27px;
  padding-top: 8px;
  border-radius: 3px;
  background-color: #343434;
  color: #fff;
  font-family: "fontAwesome";
  font-size: 20px;
  text-align: center;
  text-indent: 0;
  transition: all ease-in .3s;
}

.prevarrow::before {
  content: "\f0d9";
  float: left;
}

.nextarrow::before {
  content: "\f0da";
  float: right;
}

/* wedo banner ends  */
/*--------------Banner styling ends----------*/

/*=================================
  main styling starts here
=================================*/
.about {
  margin-top: 100px;
}

.about p {
  color: #71726C;
  font-size: 15px;
  line-height: 1.8;
}

.about .wrapper {
  margin-bottom: 80px;
}

.about .wrapper,
.build li,
.trophy,
.guide,
.partner,
.professionals,
.our-service li>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trophy,
.guide,
.partner,
.professionals {
  margin-bottom: 35px;
  flex-basis: 47%;
}

.our-service li>div {
  align-items: center;
}

.build li span {
  text-indent: -9999px;
}

.build span::before {
  content: "\f091";
  float: left;
  color: #FFB600;
  font-family: "fontAwesome";
  font-size: 45px;
  text-indent: 0;
  transition: all ease-in .3s;
}

.partner span::before {
  content: "\f1de";
}

.guide span::before {
  content: "\f164";
}

.professionals span::before {
  content: "\f0c0";
}

.build h4 {
  flex-basis: 77%;
  color: #212121;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  text-transform: uppercase;
}

.deliver {
  flex-basis: 46%;
}

.values {
  flex-basis: 49%;
}

.values p {
  padding-bottom: 15px;
  font-size: 14px;
}

.deliver h2,
h3 {
  text-transform: uppercase;
}

.deliver h2 {
  padding-bottom: 15px;
  color: #919494;
  font-size: 18px;
}

.deliver h3,
.values h3 {
  padding-bottom: 15px;
  color: #1F1E2A;
  font-size: 31px;
  font-weight: bold;
}

.deliver p {
  padding-bottom: 35px;
}

.our-service {
  display: flex;
  flex-direction: column;
}

.our-service h4,
.ideas h4 {
  color: #292327;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.our-service h4 {
  padding: 16px;
}

.service-content p {
  padding: 10px 20px;
  border-top: 1px solid #E2E2E2;
  font-size: 14px;
}

.our-service li {
  border: 1px solid #E6E6E6;
  margin-bottom: 10px;
}

.up-arrow {
  width: 25px;
  height: 26px;
  border: none;
  border-radius: 2px;
  margin-right: 16px;
  display: block;
  background-color: #000;
  text-indent: -9999px;
}

.safety h4 {
  color: #FFB600;
}

.safety .up-arrow {
  background-color: #FFB600;
}

.up-arrow::after {
  content: '\f078';
  padding: 2px;
  float: left;
  font-size: 10px;
  font-family: "fontAwesome";
  color: #fff;
  text-indent: 0;
}

.safety .up-arrow::after {
  content: '\f077';
}

/*--------------experience styling starts----------*/
.experience {
  margin-bottom: 78px;
  background-color: #252525;
}

.experience .wrapper {
  width: 80%;
  padding: 72px 0;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total li:first-child {
  margin-left: 31px;
}


.total span {
  padding: 24px 0 14px;
  color: #fff;
  font-size: 42px;
  font-weight: bold;
}

.total h4 {
  color: #E7B038;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

/*--------------experience styling ends----------*/

/* zeroharm styling */
.zeroharm,
.everyday {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.everyday {
  padding-top: 30px;
}

.zeroharm li {
  margin: 70px 0 50px;
  flex-basis: 31%;
}

.ideas {
  flex-basis: 75%;
}

.ideas h4 {
  padding-bottom: 10px;
}

.ideas p {
  padding-bottom: 14px;
  color: #5E676F;
  font-size: 14px;
  line-height: 2;
}

.ideas a {
  color: #5E676F;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.ideas a::before {
  content: '\f0da';
  padding-right: 5px;
  float: left;
  font-size: 14px;
  font-family: "fontAwesome";
  color: #5E676F;
  text-indent: 0;
}

/* zeroharm styling ends */

/* wedo page styling */
.wedo {
  margin: 99px 0 65px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.wedo .wrapper {
  width: 91%;
}

.workers {
  width: 97.5%;
  margin: 0 auto;
}

.workers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wedo h1 {
  padding-bottom: 15px;
  color: #3B98DC;
  font-size: 42px;
  text-transform: uppercase;
}

.wedo span {
  padding-bottom: 45px;
  display: block;
  color: #969494;
  font-size: 15.5px;
  font-weight: bold;
}

.workers li {
  flex-basis: 29.5%;
}

.workers h2 {
  padding: 25px 0 11px;
  font-size: 16px;
  font-weight: bold;
}

.workers p {
  color: #796A8D;
  font-size: 15px;
  line-height: 1.6;
}

/* wedo page styling ends here */
/*=================================
  main styling ends here
=================================*/

/*--------------what styling starts----------*/
.what h2,
h3 {
  text-transform: uppercase;
}

.what h2 {
  padding-bottom: 10px;
  color: #919494;
  font-size: 17px;
  text-align: center;
}

.what h3 {
  padding-bottom: 15px;
  color: #1F1E2A;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.management {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.construction,
.construction-img,
.design {
  flex-basis: 31%;
}

.construction,
.design {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.construction-img {
  flex-basis: 31.5%;
  padding-top: 40px;
}

.construction li,
.design li {
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.construction-content {
  flex-basis: 74%;
}

.construction-content h4 {
  padding-bottom: 15px;
  color: #3C3539;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.construction-content p {
  color: #898B87;
  font-size: 15px;
  line-height: 1.6;
}

/*--------------what styling ends----------*/

/*--------------projects styling starts----------*/
.projects {
  padding-bottom: 73px;
  margin-bottom: 79px;
  background-color: #F9F9F9;
}

.projects h2,
h3 {
  text-transform: uppercase;
}

.projects h2 {
  padding-bottom: 15px;
  color: #919494;
  font-size: 18px;
  text-align: center;
}

.projects h3 {
  padding-bottom: 20px;
  color: #1F1E2A;
  font-size: 37px;
  font-weight: bold;
  text-align: center;
}


.projects .wrapper {
  width: 86%;
}

.projects h2 {
  padding-top: 79px;
}

.projects h3 {
  padding-bottom: 80px;
}

.tab {
  width: 94%;
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tab li a {
  padding: 10px 20px;
  color: #222526;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all ease-in .3s;
}

.tab li a:hover,
.show {
  background-color: #FFB600;
  transition: all ease-in .3s;
}

.project-imgs::before {
  content: "";
  width: 96.7%;
  height: 3px;
  margin: 0 auto 50px;
  display: block;
  background-color: #F5B61A;
  transition: all .3s;
}

.project-imgs {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.project-imgs li {
  flex-basis: 33%;
  position: relative;
}

.plus {
  width: 38px;
  height: 37px;
  position: absolute;
  top: 18.5%;
  right: 2.7%;
  transform: translate(10px, -57px);
  background-color: #FFB700;
  text-indent: -9999px;
}

.plus::before {
  content: "\f067";
  padding: 9px 13px;
  float: left;
  color: #fff;
  font-family: "fontAwesome";
  font-size: 15px;
  text-indent: 0;
  transition: all ease-in .3s;
}

.overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .5s ease;
}

.project-imgs li:hover .overlay {
  display: block;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.content h4 {
  padding-bottom: 20px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.content .project {
  padding: 9px 7px;
  border: none;
  display: block;
  background-color: #FFB600;
  color: #1F1E2A;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.view {
  width: 17%;
  padding: 14px 0;
  border: solid 1px transparent;
  border-radius: 3px;
  margin: 20px auto 0;
  display: block;
  color: #fff;
  background-color: #FFB600;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: all ease-in .3s;
}

.view:hover {
  border: solid 1px transparent;
  background-color: #23282D;
  color: #FFB600;
  transition: all ease-in .3s;
}

/*  modal  section start */
.modal {
  width: 50%;
  height: 50%;
  display: none;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .6);
}

.modal.popUp {
  width: 100%;
  height: 100%;
  display: block;
}

.box {
  width: 45%;
  background: #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: #000;
  text-transform: uppercase;
  color: #fff;
  float: right;
  cursor: pointer;
}

.box .btn::after {
  content: 'x';
  color: #777879;
  font-size: 18px;
}

/*--------------projects styling ends----------*/

/*=================================
  footer styling starts here
=================================*/







/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}